body {
    background-color: #f0f2f5;
    color: #000;
    border: black 1px solid;
    display: block;
}

.search-box {
    width: 250px;
    border-radius: 50px;
    background-color: #f0f2f5;
    border: none;
    padding-left: 15px;
}

.profile-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 80px auto;
    padding: 30px;
    text-align: center;
}

.profile-card img {
    width: 120px;
    height: 120px;
    object-fit: fill;

}

.profile-card h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-card p {
    color: #555;
}


.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
}

.navbar a.active {
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar2 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.navbar2 a.active {
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
}

.navbar2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    margin-left: 10px;
    padding: 10px 70px;
}

.nav-icon.active i {
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
}

.giua {
    text-align: center;
    padding: 10px;

}

.footer {
    background-color: #9e9e9e;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}